@model UIApp.ViewModels.ShowPostViewModel
@inject UIApp.Services.Interfaces.IUser user;

@{
    ViewData["Title"] = Model.Post!.Title!;
}

@section Styles {
    <link href="~/css/singlePost.css" rel="stylesheet" />
    <link href="~/css/postReactionsStyles.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/singlePost.js"></script>
    <script src="~/js/activePostNotificationHandler.js"></script>
    <script src="~/js/activeReactionNotificationHandler.js"></script>
}

<partial name="ValidationSummary"/>
<div class="container">
    <a class="btn btn-primary px-3 py-2 mx-3 my-3" asp-action="Create" asp-controller="Posts">Create a post</a>

    <div class="col-md-6 @("post"+Model.Post!.Id) post" tag="@Model.Post!.Id">
        <div class="card mb-4">
            <div class="card-body">
                <input type="hidden" class="postIdValues" value="@Model.Post.Id"/>
                <p class="card-title title display-2">@Model.Post!.Title</p>
                <p class="card-text display-5">Description: </p>
                <p class="card-text description">@Model.Post!.Description</p>
                <p class="card-text display-5">Body: </p>
                <p class="body">@(Html.Raw(Model.Post!.Body))</p>
                <div class="my-3 display-5">Tags: </div>
                <div class="tags">
                @foreach (var tag in Model.Post!.Tags!)
                {
                    <span class="tag mx-1">@tag</span>
                }
                @if (Model.Post.OwnerId == user.Id)
                {
                    <a asp-action="Edit" asp-controller="Posts" asp-route-postId="@Model.Post.Id" class="btn px-3 py-2 mx-2 my-2 btn-warning">Edit</a>
                }    
                </div>
            </div>
            <div class="reactionsContainer">
                <i class="react fa-solid fa-thumbs-up" tag="0"></i><span class="mx-2 count0">@Model.LikesCount</span>
                <i class="react fa-solid fa-thumbs-down" tag="1"></i><span class="mx-2 count1">@Model.DislikesCount</span> 
                <i class="react fa-solid fa-face-grin-squint-tears" tag="2"></i><span class="mx-2 count2">@Model.LaughsCount</span> 
                <i class="react fa-solid fa-face-angry" tag="3"></i><span class="mx-2 count3">@Model.AngersCount</span> 
                <i class="react fa-solid fa-face-sad-tear" tag="4"></i><span class="mx-2 count4">@Model.CryingsCount</span> 
            </div>
        </div>
        <div class="my-3 display-5">Comments</div>
            
          @foreach(var comment in Model.Comments!.Items)
          {
                <div class="comment">
                    <div class="commentOwner">@(comment.Owner!.Username)</div>
                    <div class="commentBody">@(comment.CommentBody)</div>
                </div>
          }
        <form asp-action="AddComment" asp-controller="Posts" method="post">
            <input type="hidden" name="PostId" value="@Model.Post!.Id"/>
            <input type="text" name="CommentBody"/>
            <input type="submit" class="btn-primary btn" value="Add comment"/>
        </form>

        <div class="pageNumbers">
            @for (int i = 1; i <= Model.Comments!.TotalPages; i++)
            {
                @if(i != Model.Comments!.PageNumber)
                {
                    <a asp-action="ShowOne" asp-controller="Posts" asp-route-pageNumber="@i" asp-route-postId="@Model.Post!.Id" asp-route-pageSize="10" class="pageNumber text-decoration-none">@i</a>
                }
                else{
                    <a asp-action="ShowOne" asp-controller="Posts" asp-route-postId="@Model.Post!.Id" asp-route-pageSize="10" asp-route-pageNumber="@i" class="pageNumber text-decoration-none">@i</a>
                }
            }
        </div>
    </div>
</div>