@model UIApp.ViewModels.MyFriendrequestsViewModel
@inject UIApp.Services.Interfaces.IUser user;

@section Styles{
    <link href="~/css/friendrequests.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/js/friendrequests.js"></script>
}

@{
    ViewData["Title"] = "Sent friendrequests";
}

<a asp-action="AddFriends"></a>

@if (Model.Friendrequests!.TotalCount != 0)
{
    <div class="container">
        @foreach (var request in Model.Friendrequests.Items)
        {
            <div class="friendrequest">
                @if(request.FirstUserId == user.Id)
                {
                    <span>@request.SecondUser!.Username</span>
                }
                <form asp-action="CancelFriendrequest" asp-controller="Friends" method="post">
                    <input type="hidden" name="friendRequestId" value="@request.Id" />
                    <input type="submit" class="btn btn-danger px-3 py-2 mx-2" value="Cancel" />
                </form>
            </div>
        }
    </div>
    <div class="pageNumbers">
        @for (int i = 1; i <= Model.Friendrequests.TotalPages; i++)
        {
            if (i == Model.Friendrequests.PageNumber)
            {
                <a asp-action="SentFriendrequests" asp-controller="Friends" asp-route-pageSize="10" asp-route-pageNumber="@i" class="text-decoration-none currentPageNumber">@i</a>
            }
            else
            {
                <a asp-action="SentFriendrequests" asp-controller="Friends" asp-route-pageSize="10" asp-route-pageNumber="@i" class="text-decoration-none pageNumber">@i</a>
            }
        }
    </div>
}
else
{
    <div class="display-5">You haven't sent any friendrequests yet.</div>
}